.btn-group-vertical
	input[type="submit"], input[type="button"], button, .button, .btn
		background #fff
		border 1px solid ss-hr-color
		border-bottom 0
		border-radius 0
		box-sizing border-box
		float none
		display block
		margin 0
		text-align center
		width 100%
		&:first-child
			border-radius 4px 4px 0 0
		&:last-child
			border-radius 0 0 4px 4px
			border-bottom 1px solid ss-hr-color
		&:hover
			background bgGrey