@import url("http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic,latin")
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic")
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic")

.ptSansCaption
	font-family: "PT Sans Caption", "Arial", sans-serif

.ptSans
	font-family: "PT Sans", "Arial", sans-serif

.ptSansNarrow
	font-family: "PT Sans Narrow", "Arial", sans-serif