// tags
a
	color ss-blue
	text-decoration none
	background: linear-gradient(left, rgba(ss-blue, .2) 50%, rgba(ss-blue, .2)  100%)
	background-position: 0 90%
	background-size: 10px 1px
	background-repeat: repeat-x
	&:hover
		color lighten(ss-blue, 20)

abbr, acronym, .uppercase
	font-size: 85%
	text-transform: uppercase
	letter-spacing: .1em

b, strong, caption, th, thead, dt, legend, .bold, .strong
	font-weight: bold

big, .big, .large
	font-size 130%
.loose
	line-height ss-typo-line-height-loose
.tight
	line-height ss-typo-line-height-tight
.lead
	@extends .loose
	font-size 150%

body
	@extends .ptSans
	color ss-black
	font-size ss-typo-font-size
	line-height ss-typo-line-height
	margin 0
	padding 0

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	@extends .ptSansCaption
	font-weight 500
	small, .small
		color ss-grey
		font-size 63%

h1, h2, h3, .h1, .h2, .h3
	line-height 40px

h4, h5, h6, .h4, .h5, .h6
	line-height 20px

h1, .h1
	font-size 260%
h2, .h2
	font-size 215%
h3, .h3
	font-size 170%
h4, .h4
	font-size 130%
h5, .h5
	font-size 100%
h6, .h6
	font-size 85%

p
	word-spacing: 0.125em
	hyphenate: auto
	hyphenate-lines: 3
	+ p
		&::before
			content:"\0000a0"
			display: block
			visibility:hidden

small, .small
	font-size 85%
sup, .sup, sub, .sub
	font-size 70%
	relative top -.3em

// Class helpers
.local
	@extends a
	background: linear-gradient(left, ss-blue, rgba(ss-blue, .01) 50%, transparent 50%)
	background-position: 0 90%
	background-size: 2px 1px
	background-repeat: repeat-x
	cursor: pointer
	
.narrow
	@extends .ptSansNarrow

// Mixins
fade()
	overflow hidden
	position relative
	white-space nowrap
	&::after
		content ""
		display block
		absolute top right
		height 100%
		width 3em
		background linear-gradient(left, rgba(ss-white, 0), rgba(ss-white, 1)  80%)